#box {
    width: 500px;
    height: 450px;
    background-color: snow;
    padding: 20px;
    margin: 50px;
    margin-left: 400px;;
    border: 5px solid deepskyblue;
    border-radius: 10px;
}

#regbox {
    width: 500px;
    height: 450px;
    background-color: snow;
    padding: 20px;
    margin: 50px;
    margin-left: 400px;;
    border: 5px solid deepskyblue;
    border-radius: 10px;
}

body {
    background-color: #212529;
}

#registe {

    position: relative;

}